background:white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Top name bar */
h1{
    background:white;
    color:black;
    text-align:center;
    padding:15px;
    border-bottom:2px solid #ddd;
}

/* product box */
.product{
    background:white;
    border:1px solid #ddd;
    border-radius:10px;
    padding:10px;
    margin:15px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.product img{
    width:100%;
    border-radius:8px;
}

/* price */
.price{
    font-size:18px;
    color:black;
    margin:8px 0;
}

/* button */
button{
    background:#25D366;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:6px;
    font-size:16px;
} style add
